 h1,
 h2,
 h3{
     color: rgba(65, 14 234, 0.94);
     font-family: fantasy;
     font-weight: 600;
     font-size:2.5em;
     background-color: #a155be

 }

body {
    background-color:#a155be;
        
}

main {
    background-color: whitesmoke
}

somename { 
    color:firebrick;
}