 h2,
 h3
     {
     color: coral;
     font-family: fantasy;
     font-weight: 600;
     font-size: 1.5em;
     background-color: #a155be
 }

 body {
     background-color: #a155be;

 }

 main {
     background-color: #a155be;
 }

 #somename {
     color: firebrick;
     font-size: 3.2em;
     font-family: cursive;
     border: 5px solid #5c5ca8;
     padding-bottom: 15px;
     padding-top: 10px;
     padding-left: 15px;
     border-radius: 15px;
 }

 .somename {
     color: firebrick;
     font-size: 3.2em;
     font-family: cursive;
     border: 5px solid #5c5ca8;
     padding-bottom: 15px;
     padding-top: 10px;
     padding-left: 15px;
     border-radius: 15px;
 }

 h1,
 h2,
 h3,
 p {
     
     background: #a155be;
 }

 .peanut {
     color: blue
 }

 main h1 p h2 {
     color: wheat;
 }
